@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

// Colors ---------
$Tomato: hsl(4, 100%, 67%);

$dark-slate-grey: hsl(234, 29%, 20%);
$Charcoal-Grey: hsl(235, 18%, 26%);
$Grey: hsl(231, 7%, 60%);
$white: hsl(0, 0%, 100%);

// Fonts Size
$Font-size-paragraph: 16px;
$Font-size-heading: 40px;

//Font Weight
$Font-weight-400: 400;
$Font-weight-700: 700;

// Font Family
$Roboto-font: 'Roboto', sans-serif;